<%-include('includes/headBeginning.ejs')%>
<%-include('includes/headEnd.ejs')%>
    <div class="card-body" id = "formDiv">
        <form class="row g-3 needs-validation" value="confirm" action="/" method="post" oninput='confirmPassword.setCustomValidity(confirmPassword.value != password.value ? "Passwords do not match." : "")'>
            <div style = "display:none">
                <label for="firstName" class="form-label">Your first name</label>
                <input type="text" name="firstName" id="firstName" class="form-control" value="<%=firstName%>">
                <label for="lastName" class="form-label">Your first name</label>
                <input type="text" name="lastName" id="lastName" class="form-control" value="<%=lastName%>">
                <label for="email" class="form-label">Your first name</label>
                <input type="text" name="email" id="email" class="form-control" value="<%=mail%>">
            </div>
            <div class="col-6">
                <div class="mb-3">
                    <label for="password" class="form-label">PASSWORD</label>
                    <input type="password" pattern=".{8,}" title="8 characters minimum" class="form-control" name="password" id="password" aria-describedby="emailHelp" required>    
                </div>
                <div class="mb-3">
                    <label for="confirmPassword" class="form-label">CONFIRM PASSWORD</label>
                    <input type="password"  name="confirmPassword" id="confirmPassword" class="form-control" required>
                </div>
            </div>
            <div class="col-6"></div>
            <div class="mb-3 text-center">
                <form method="post" >
                    <input class="btn btn-outline-primary" type="submit" value="Register">
                </form>    
            </div>
        </form>
    </div>

<%-include('includes/end.ejs')%>